<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Customer</title>
</head>
<body>
<p>
    <a th:href="@{/}">Back to customer list</a>
</p>
<form th:method="post" th:action="@{/customer/save}" th:object="customer">
    <table>
        <tr>
            <td>First Name: </td>
            <td><input type="text" th:field="*{firstName}"></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" th:field="*{lastName}"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>
</body>
</html>