<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-customer">Create new customer</a>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<h1>Customers</h1>
<form>
    Search by first name:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<table border="1">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Province</th>
        <th>Action</th>
    </tr>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.province.name}">
<!--                <a th:text="${customer.province.name}" th:href="@{/view-province/__${customer.province.id}__}"></a>-->
            </td>
            <td>
                <a th:href="@{/customer/edit/__${customer.id}__}">Edit |</a>
                <a th:href="@{/customer/delete/__${customer.id}__}"> Delete</a>
            </td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{/(page=${customers.number -1})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number +1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{/(page=${customers.number +1})}" th:if="${customers.hasNext()}">Next</a>
</div>
</body>
</html>