<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="product/layout::head">
</head>
<body>
<p>
    <a class="text-decoration-none" th:href="@{/}">Back to product list</a>
</p>
<form th:action="@{/product/save}" th:method="post" th:object="${product}">
    <fieldset>
        <legend>Product</legend>
        <table class="table table-bordered table-dark">
            <tr>
                <td>
                    <label>Name: </label>
                </td>
                <td>
                    <input th:field="*{name}">
                </td>
            </tr>
            <tr>
                <td><label>Price: </label></td>
                <td><input th:field="*{price}"></td>
            </tr>
            <tr>
                <td><label>Description: </label></td>
                <td><input th:field ="*{description}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-warning" type="submit" value="Save">
                </td>
            </tr>
        </table>
    </fieldset>
</form>
<th:block th:replace="product/layout::bootstrap"></th:block>
<footer th:replace="product/layout::footer"></footer>
</body>
</html>