<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="product/layout :: head">
</head>
<body>
<p th:text="${message}" style="color: green"></p>

<p>
    <a class="btn btn-primary" th:href="@{/product/add}">Add new product</a>
</p>
<p>
    <form th:method="get" th:action="@{/}">
    <input type="text" class="form-control" th:name="nameSearch" placeholder="Enter product name"><br>
    <input type="submit" value="Search" class="btn btn-primary">
</form><br>
<p th:if="${showBack!=null}">
    <a th:href="@{/}" class="btn btn-primary">Back to product list</a>
</p>
</p>
<h1>Product list</h1>
<table class="table table-bordered table-dark">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product:${products}">
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.getDescription()}"></td>
        <td>
            <a th:href="@{/product/edit/__${product.getId()}__}">Edit |</a>
            <a th:href="@{/product/delete/__${product.getId()}__}"> Delete</a>
        </td>
    </tr>
    </tbody>

</table>
<th:block th:replace="product/layout::bootstrap"></th:block>
<footer th:replace="product/layout::footer"></footer>
</body>
</html>