<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
<h1>Customer List:</h1>
<p>
    <a th:href="@{/customer/create}">
        Create customer
    </a>
</p>
<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>
<table id="customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="customer.name"></td>
        <td th:text="customer.email"></td>
        <td th:text="customer.address"></td>
        <td>
            <a th:href="@{/customer/edit/__${customer.id}__}">Edit |</a>
            <a th:href="@{/customer/delete/__${customer.id}__}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<footer th:replace="layout::footer"></footer>
</body>
</html>