
.navbar-brand img{
   width: 108px;
    margin-top: -4px;
}
.navbar-brand span{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #262626;
    
}
.navbar-brand span:hover{
    text-decoration: underline;
}
a{
    color: white;
}
a:hover{
    color: white;
}
#myCarousel{
    margin-top: 0px;
}
#item0 h3,p{
    color: white;
    text-align: left;
}
.comparedevices{
    width: 100%;
    height: 100px;
}
.items{
    margin: 0px;
    float: left;
    width: 25%;
    height: 150px;
    line-height: 100px;
    position: relative;
    margin-top: 25px;
}
.items img{
    position: absolute;
    width: 100%;
    height: 35px;
    margin-top: 0px !important;
}
.items .contain{
    font-weight: bold;
    position: relative;
    font-size: 17px;
    margin-top: 17px;
    text-align: center;
    color: blue;
}
.contain-image{
    vertical-align: middle;
}
.navbar{
    margin: 0px;
}
#mySlider{
    width: 1214px;
    height: 108px;
}
*{
    box-sizing: border-box;
}

/* #row-bottom{
    margin: 0;
    padding: 0;
} */