<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">

</head>
<body>
<p>
    <a class="btn btn-primary" th:href="@{/}">Blog list</a>
</p>
<h1>Add new blog</h1>

    <fieldset>
        <legend>Blog information</legend>
        <table class="table table-bordered" th:object="${blog}">
            <tr>
                <td>Name</td>
                <td th:text="*{blogName}"></td>
            </tr>
            <tr>
                <td>Description</td>
                <td th:text="*{description}"></td>
            </tr>
            <tr>
                <td>Date: </td>
                <td th:text="*{blogUploadDate}"></td>
            </tr>
            <tr>
                <td>Category: </td>
                <td th:text="${blog.category.name}"></td>
            </tr>
            <tr>
                <td>Contain: </td>
                <td th:text="*{contain}"></td>
            </tr>
            <tr>
                <td>View number:</td>
                <td th:text="${mycounter.getCount()}"></td>
            </tr>

        </table>
    </fieldset>


<th:block th:replace="layout::bootstraps"></th:block>
<footer th:replace="layout::footer"></footer>
</body>
</html>