<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
</head>
<body>
<th:block th:if="${message!=null}">
    <h2 style="color: green" th:text="${message}"></h2>
</th:block>
<p>
    <a class="btn btn-primary" th:href="@{/category/add}">Add new category</a>
</p>
<h1>Category list</h1>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Action</th>
    </tr>
    <tr th:each="c:${categories}">
        <td th:text="${c.name}"></td>
        <td>
            <a th:href="@{/category/viewlist/__${c.id}__}">View blog list |</a>
            <a th:href="@{/category/edit/__${c.id}__}"> Edit| </a>
            <a th:href="@{/category/delete/__${c.id}__}">Delete</a>
        </td>
    </tr>
</table>
<th:block th:replace="layout::bootstraps"></th:block>
<footer th:replace="layout::footer"></footer>
</body>
</html>