<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
</head>
<body>
<div class="container">
    <th:block th:if="${message!=null}">
        <h2 style="color: green" th:text="${message}"></h2>
    </th:block>
    <p>
        <a class="btn btn-primary" th:href="@{/category}">Back to category</a>
    </p>
    <h1>Blog list</h1>
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Upload date</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        <tr th:each="blog:${blogs}">
            <td th:text="${blog.getBlogName()}"></td>
            <td th:text="${blog.getDescription()}"></td>
            <td th:text="${blog.getBlogUploadDate()}"></td>
            <td th:text="${blog.category.name}"></td>
            <td>
                <a th:href="@{/blog/view/__${blog.getBlogId()}__}">View |</a>
                <a th:href="@{/blog/edit/__${blog.getBlogId()}__}"> Edit| </a>
                <a th:href="@{/blog/delete/__${blog.getBlogId()}__}">Delete</a>
            </td>
        </tr>
    </table>
    <th:block th:replace="layout::bootstraps"></th:block>
    <footer th:replace="layout::footer"></footer>
</div>
</body>
</html>